@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* hack:    HIDE OVERFLOW  */
  overflow-x: hidden;
}

/* idea: Header */

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("Images/banner.png");
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav_links {
  flex: 1;
  text-align: right;
  color: wheat;
}

.nav_links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav_links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav_links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav_links ul li:hover::after {
  width: 100%;
}

.text_box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text_box h1 {
  font-size: 62px;
}

.text_box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.hero_btn {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero_btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

nav .fa {
  display: none;
}

.nav_links ul {
  padding: 30px;
}

/* idea:  Cource */

.cource {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.cource_col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.cource_col:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

/* idea: CAMPUS */
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.campus_col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.campus_col img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  cursor: pointer;
}

.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/* idea:-----Facilities------- */
.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.facilities_col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.facilities_col img {
  width: 100%;
  border-radius: 10px;
}

.facilities_col p {
  padding: 0;
}
.facilities_col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/* idea:------testimonials---- */

.testimonials {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

.testimonial_col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.testimonial_col img {
  height: 60px;
  width: 200px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.testimonial_col p {
  padding: 0;
}

.testimonial_col h3 {
  margin-top: 15px;
  text-align: left;
}

/*idea: ----CALL TO ACTION-----*/

.cta {
  margin: 100px auto;
  width: 80%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Images/banner2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

/* idea:------FOOTER------- */

.footer {
  width: 100%;
  text-align: center;
  padding: 30 0;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.footer p a {
  text-decoration: none;
}

/* note:----------ABOUT US PAGE---------------- */

.sub_header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(Images/background.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.sub_header h1 {
  margin-bottom: 100px;
}

/* note:-----ABOUT US PAGE DESIGN-------- */

.about_us {
  padding: 50px 10%;
  background-color: #f9f9f9;
}

.about_us .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about_us .about_col {
  flex: 1;
  margin: 10px;
}

.about_us .about_col h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.about_us .about_col p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  font-weight: 300;
}

.about_us .about_col img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.red_btn {
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
}

.red_btn:hover {
  color: #fff;
}

/* idea:----Blog Page Content------> */

.blog_content {
  width: 80%;
  margin: auto;
  padding: 60px 0;
}

.blog_left {
  flex-basis: 65%;
}

.blog_left img {
  width: 100%;
}

.blog_left h2 {
  color: #222;
  font-weight: 600;
  margin: 30px 0;
}

.blog_left p {
  font-weight: 300;
  color: #999;
  padding: 0;
}

.blog_right {
  flex-basis: 32%;
}

.blog_right h3 {
  background: #f44336;
  color: #fff;
  padding: 7px 0;
  font-size: 16px;
  margin-bottom: 20px;
}

.blog_right div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  padding: 9px;
  box-sizing: border-box;
}

/* idea:--------COMMENT BOX FORM------ */

.comment_box {
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 10px 20px;
}

.comment_box h3 {
  text-align: left;
}

.comment_form input,
.comment_form textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #ccc;
  outline: 0;
  font-size: 15px;
}

.comment_form button {
  margin: 10px 0;
}

/* idea:-------CONTACT US --------*/

.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.location iframe {
  width: 100%;
}

.contact_us {
  width: 80%;
  margin: auto;
}

.contact_col {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.contact_col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.contact_col div p {
  padding: 0;
}

.contact_col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}

.contact_col input,
.contact_col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  border: 1px solid #ccc;
  outline: none;
}
